#%RAML 1.0
title: SpaceShips
version: 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/8cf56fb6-7460-4633-b45e-9a8963b7f990/ # baseUri: www.SpaceShips.com

types:
  Ship:
    type: object
    properties:
      id:
        required: false
        type: integer
      name: string
      crewSize: integer
      speed: number
      raiting: number

/ships:
  displayName: Ships list page
  description: This's list of ships page from StarTrack
  get:
    displayName: Shows ships page
    description: Shows table of ships
    responses:
      200:
        description: Received list of ships
        body:
          application/json:
            description: List<Ships> json
            example:
              !include examples/ships.json
  post:
    displayName: Add new Ship
    description: Adding new ship in DB
    body:
      application/json:
        example:
          !include examples/ship.json
    responses:
      201:
        description: Ship successfully added
      404:
        description: Ship parameters is not allowed

/ships/{id}:
  description: Operations on 1 ship
  displayName: Operate on 1 ship
  get:
    displayName: Get ship with ID x
    description: Get ship with ID #
    responses:
      200:
        body:
          application/json:
            example:
              !include examples/ship.json
      404:
        description: Ship with that ID does not exist in DB
  put:
    description: Update ship
    displayName: Update ship query
    responses:
      201:
        body:
          application/json:
            !include examples/ship.json
  delete:
    description: Delete ship with that ID
    responses:
      200:
        description: Successfully deleted
      404:
        description: Ship with that ID does not exist
