#%RAML 1.0
title: SpaceShips
version: 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/299b5807-5b4e-4433-bce8-64bd84819e2d/ # baseUri: www.SpaceShips.com


securitySchemes:
  BAuth_1: !include securitySchemes/BAuth_1_0.raml

traits:
  errorsThrows: !include traits/errorsThrows.raml

types:
  Ship:
    type: object
    properties:
      id:
        required: false
        type: integer
      name: string
      crewSize: integer
      speed: number
      raiting: number

securedBy: [BAuth_1]

/ships:
  is: [errorsThrows]
  displayName: Ships list page
  description: This's list of ships page from StarTrack
  get:
    displayName: Shows ships page
    description: Shows table of ships
    responses:
      200:
        description: Received list of ships
        body:
          application/json:
            description: List<Ships> json
            example:
              type: Ship[]
              example: !include examples/ship.json
  post:
    displayName: Add new Ship
    description: Adding new ship in DB
    body:
      application/json:
        type: Ship
        example: !include examples/ship.json
    responses:
      201:
        description: Ship successfully added

/ships/{id}:
  is: [errorsThrows]
  description: Operations on 1 ship
  displayName: Operate on 1 ship
  get:
    displayName: Get ship with ID x
    description: Get ship with ID #
    responses:
      200:
        body:
          application/json:
            type: Ship
            example: !include examples/ship.json
  put:
    description: Update ship
    displayName: Update ship query
    responses:
      201:
        body:
          application/json:
            type: Ship
            example: !include examples/ship.json
  delete:
    description: Delete ship with that ID
    responses:
      200:
        description: Successfully deleted
